h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;}

.fondoverde{background-color:#01DF01;}
.fondoazul{background-color:#005883;color :#ffffff;}
.centrado{text-align:center;}
.letrablanca{color:#ffffff;}
.letrablanca a:hover{text-decoration: none;}
.pie{font-size:90%;background-color:#808080;}
.margen20{padding-left:20px;}
.minimi{font-size:70%;max-height: 200px;}
.tamfuente{font-size: 40%;}
h1{font-size:150%;}
.row{margin-top: 30px;}
.hr{border: 1px dotted #278e79;margin-top: 2px;margin-bottom: 2px;}
