.fondotierra{background-color:#DBA901;}
.fondoverde{background-color:#01DF01;}
.fondoazul{background-color:#005883;color :#ffffff;}
.centrado{text-align:center;}
.letrablanca{color:#ffffff;}
.pie{font-size:90%;background-color:#808080;}
.margen20{padding-left:20px;}
.minimi{font-size:70%;max-height: 200px;}